body
  {
  background-image:url("https://i.ytimg.com/vi/Am-gG-VyXPg/maxresdefault.jpg");
  }



h1
  {
  margin:auto;
  text-align:center;
  color:white;
  font-family:arial;
  font-size:50px
  }

h2
  {
  margin:auto;
  text-align:center;
  color:white;
  font-family:arial;
  font-size:20px
  }

.center
  {
  color:white;
  text-align:center;
  margin: 400px 250px 200px 250px;
  font-size:20px;
  font-family:arial;
  }